$whitesmoke: #F5F5F5;
$photoshop-color: #00c8ff;
$sql-color: #e48e00;
$javascript-color: #fcd83c;
$php-color: #4f5b93;
$bootstrap-color: #563d7c;
$css-color: #1b73ba;
$html-color: #e34f26;
$illustrator-color: #ff7c00;
$lightroom-color: #aed3e9;
$sas-color: #cf649a;
$symfony-color: #000;
$git-color: #de4c35;

$theme-colors: (
        "dark": #333,
        "warning": #c36b00,
        "error": darkred,
);

@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-main: 'Roboto', sans-serif;

body {
  color: $whitesmoke;
  font-family: $font-main;
}

.shadow {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.33);
}
.shadow2 {
  border-top: 0.5px solid map-get($theme-colors, warning);
  border-left: 0.5px solid map-get($theme-colors, warning);
  box-shadow: 5px 5px 3px rgba(0, 0, 0,0.5);
}


.arrow, .arrow-up {
  height: 1.5em;
  width: 1.5em;
  color: $whitesmoke;
  display: inline-block;
  transform: rotate(45deg);
  border: solid $whitesmoke;
}

.arrow {
  border-width: 0 0.15em 0.15em 0;
}

.arrow-up {
  border-width: 0.15em 0 0 0.15em;
}

.btn {
  border: none;
}

.image-round {
  width: 66%;
  text-align: center;
  border: solid 0.5px $whitesmoke;
  border-radius: 50%;
}

#about {
  background: $symfony-color;

  .transf:hover {
    font-size: 1.5rem;
  }

  #textWrapper {
    position: absolute;
    margin: 0 auto;
    top: 53%;
    width: 100%;
    font-size: 90%;
  }
}

@media only screen and (min-width: 769px) {
  #about {
    height: 100vh;
  }
}

@media only screen and (max-width: 667px) {
  #textwrapper {
    font-size: 66%
  }
}

a:hover {
  color: map-get($theme-colors, warning);
}

.btn:hover {
  background-color: map-get($theme-colors, warning);
}

.transparancy {
  color: $symfony-color;
  background-color: $whitesmoke;
  opacity: 0.85;
  h2 {
    text-align: center;
  }
}

.transparancy2 {
  color: $symfony-color;
  background-color: $whitesmoke;
  opacity: 0.60;
  padding-bottom: 2em;
  p {
    opacity: 100;
  }

}

#contact {
  background-image: url("https://i.postimg.cc/yNdKDLHS/laptop-computer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  clear: both;
  margin-bottom: 2em;
}

.form-group.required .control-label:after {
  content: "*";
  color: map-get($theme-colors, warning);
}

.sas {
  background-color: $sas-color
}

.htm {
  background-color: $html-color
}

.css {
  background-color: $css-color
}

.git {
  background-color: $git-color;
}

.boo {
  background-color: $bootstrap-color;
}

.jav {
  background-color: $javascript-color;
}

.php {
  background-color: $php-color;
}

.sym {
  background-color: $symfony-color;
}

.lig {
  background-color: $lightroom-color;
}

.ill {
  background-color: $illustrator-color;
}

.pho {
  background-color: $photoshop-color;
}

.sql {
  background-color: $sql-color;
}

/*ARROW TO TOP*/
#return-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: transparent;
  width: 50px;
  height: 50px;
  display: none;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border: 1px solid whitesmoke;
  border-radius: 35px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  top: 1.2rem;
  right: 1rem;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.15);
    i {
      border-color: $photoshop-color;
      transform: rotate(225deg);
    }
  }
}

.arrow-to-top {
  position: relative;
  left: 0.8rem;
  border: solid;
  border-color: map-get($theme-colors, warning);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 10px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.hide {
  display: none
}

.show {
  display: block;
}

.addressErrorMessage, .firstNameErrorMessage, .lastNameErrorMessage {
  color: map-get($theme-colors, error);
  font-size: 0.75rem;
  border: 1px solid map_get($theme-colors, error);
  padding: 5px;
}
.btn {
  background: #3D94F6 linear-gradient(to bottom, #3D94F6, #1E62D0);
  border-radius: 5px;
  box-shadow: inset 3px 4px 6px 0 #D6DADF;
  -webkit-box-shadow: inset 3px 4px 6px 0 #D6DADF;
  -moz-box-shadow: inset 3px 4px 6px 0 #D6DADF;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  &:hover{
    background: #ff8c00 linear-gradient(to bottom, #b45c00, #c66a00);
    border: none;
  }
}




